*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Montserrat; */
  }

a{
  text-decoration: none;
  color: black;
}

.presentation{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 150px; */
  margin-bottom: 90px;
  color: white
}

.mainPresentation{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mainPresentation > h1{
  font-size: 2.1vw;
}
.mainPresentation > h2, h3{
  font-size: 7.9vw;
}

.mainPresentation{
  font-family: "paprika";
  font-size: 30px;
}
  
  /******** main ********/
.mainFigure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 0 10%;
}

  .portfolioProject{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100vw;
  }

.mainSkills{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}

.titleSkills{
  align-self: start;
  padding-left: 250px;
}

.titleSkills > h1{
  font-size: 40px;
  font-family: serif;
  font-weight: 400;

}
.titleSkills > h2{
  font-size: 60px;
  font-family: "paprika";
}

.mainCapsule{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100vw;
}

.mainAccueil{
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.titleSkills {
  animation: flash 0.9s ease-in-out 0.2s;
  animation-fill-mode: both;
}
/* .mainCapsule {
  animation: flash 0.9s ease-in-out 0.1s;
  animation-fill-mode: both;
} */

.capsule1{
  animation: flash 0.9s ease-in-out 0.2s;
  animation-fill-mode:both ;
}
.capsule2{
  animation: flash 0.9s ease-in-out 0.6s;
  animation-fill-mode:both ;
}
.capsule3{
  animation: flash 0.9s ease-in-out 1s;
  animation-fill-mode:both ;
}
.capsule4{
  animation: flash 0.9s ease-in-out 1.4s;
  animation-fill-mode:both ;
}
.capsule5{
  animation: flash 0.9s ease-in-out 1.8s;
  animation-fill-mode:both ;
}

@keyframes flash {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
 


/* Media queries RESPONSIVE */
 
  @media screen and (max-width: 540px) {
    
  }
  
  
  
