header {
  display: flex;
  justify-content: space-between;
  padding: 50px 15px;
  width: 100%;
}

nav {
  display: flex;
  gap: 57px;
  align-items: center;
}

.surnom{
  color: rgba(255, 96, 96, 1);
}

.liens_globale {
  text-decoration: none;
  color: rgba(255, 96, 96, 1);
}

.liens_globale:hover {
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline;
}

@media screen and (max-width: 944px) {
  header {
    padding: 30px;
  }
}
@media screen and (max-width: 630px) {

  nav {
    gap: 26px;
    font-size: 12px;
  }
}
