header {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0;
  height: 100vh;
}

.titleSection{
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  gap: 50px;
  position: fixed;
  z-index: 2;
}

.liensHeader{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-size: 23px;
  height: 100vh;
  gap: 110px;
  /* height: 50px; */
}

.redirection {
  transform: rotate(270deg);
  color: white;
  display: inlin-block;
  /* height: 80px; */
  /* order: -1; */
}



.redirection:hover{
  color: orange;
}

.activeRedirection{
  color: orange;
}

.surnom{
  font-family: "Rock 3D";
  font-size: 130px;
}


@media screen and (max-width: 790px) {
  header{
    padding: 0 0 0;
  }
}
