
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 80%;
}
 
.mainFooter{
  display: flex;
  background-color: white;
  height: 56%;
  width: 80%;
  box-shadow: 0px 0px 30px 10px  black;
  border-radius: 10px;
}

.identity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  width: 60%;
  box-shadow: 0px 0px 30px  black;
}

.coordonnee{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin: 145px 0 0 10px;
  height: 100%;
  width: 40%;
}

aside{
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-self: start; */
}

aside > h1{
  font-family: "paprika";
  color: rgb(27, 134, 134);
}
aside > h2{
  font-size: 16px;
  font-family: "paprika";
  color: rgb(145, 145, 145);
}

.imgIdentity > img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

hr{
  width: 60%;
}

.iconFooter{
  color: rgb(27, 134, 134);
  width: 100%;
}