.projets {
  height: 520px;
  width: 510px;
  border-radius: 15px;
  color: whitesmoke;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.projets > p {
  padding: 12px 0;
  letter-spacing: 1.1px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17.5px;
}

.projets > img {
  height: 80%;
  width: 100%;
  border-radius: 15px;
}

.projets:hover {
    /* box-shadow: 10px 10px 10px rgba(9, 9, 9, 0.726); */
    height: 512px;
    width: 502px;
  }

@media screen and (max-width: 680px) {
  .projets {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 580px) {
  .projets {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 620px) {
  .projets {
    margin-bottom: 150px;
  }

 
}
