nav{
    display: flex;
    flex-direction: column;
    right: 15px;
    /* align-items: center; */
    gap: 30px;
    padding-top: 40px;
    position: fixed;
    z-index: 2;
}

.iconPapers{
        font-size: 30px;
        transition: transform 0.3s ease;
}

.iconPapers:hover{
    transform: scale(1.2);
  }

  .contact {
    text-decoration: none;
    color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 3px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact:hover {
    /* box-shadow: 3px 3px 10px; */
    box-shadow: none;
  }

  @media screen and (max-width: 790px) {
    nav{
      right: 15px;
    }
  }


  